body{
    background-color: #2A2A2A;
}

.news_containerDash{
    background-color: #2A2A2A;
    display: flex;
    gap: 15%;
  
}
.gallery_container{
 
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    gap: 5%;
   
}
@media only screen and (min-width: 1100px) and (max-width: 1500px){
   
    .news_container{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 820px) and (max-width: 1100px){
    .gallery_container{
        margin: 0px 0px 0 20%;
    }
    
    .news_container{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 320px) and (max-width: 820px){
    .gallery_container{
        margin-left: 16%; 
        width: 50%;
        padding: 10%;
    }
    
    .news_container{
        grid-template-columns: 1fr;
    }
}