.details_box{
    margin-left: 66px;
    background-color: blanchedalmond;
}

/* Pantalla decarga */

.chargingBox{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    color: antiquewhite;
    font-size: 18px;
    padding-bottom: 2vw;
}

/* Imagen de Noticia */

.imgNew{
    width: 30vw;
    height: 50vh;
    border-radius:20px;
    box-shadow: 0 0 35px rgb(253, 249, 249);
}

/* Descripción, Párrafo de la noticia */

.textDetail{
    word-wrap: break-word;
    text-align: justify;
}

.textDetail{
    text-align: justify;
    margin-right: 8%;
}

.description{
    width: 80vw;
    height: auto;
}

.titleNew{
    font-size: 35px;
}

.buttons{
    width: 80vw;
    min-height: auto;
    margin-top: 1vw;
    margin-bottom: 10%;
    display: flex;
  }

.bEdit{
    width: 10%;
    height: 2em;
    background-color: rgb(174, 255, 191);
    border-radius: 20px;
    font-weight: bold;
    font-size:50%;
    margin-right: 1.5vw;
    border-color: rgb(197, 163, 240);
    padding: 20px;
    text-align: center;
    margin-bottom: 2%;
    display: grid;
    place-content: center;
}

.bDelete{
    width: 10%;
    height: 2vw;
    background-color: rgb(197, 163, 240);
    border-radius: 20px;
    font-weight: bold;
    font-size:50%;
    border-color:  rgb(174, 255, 191);
    padding: 20px;
    display: grid;
    place-content: center;
}

@media (max-width: 750px) {
    
    .bEdit {
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 10%;
        width: 16%;

    }
    .bDelete{
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 10%;
        width: 16%;
    }
    .buttons{
        margin-left: 10%;
    }
    .description{
        margin: 5% 5% 5% 12%;
        font-size: 0.8em;
        text-align: left;
    }
    .titleNew{
        font-size: 1em;
        text-align: center;
        margin: 10% 10% 10% 20%;
    }
    .imgNew{
        height: auto;
        margin-left: 5%;
    }
    .subtitlesDetail{
        font-size: 0.8em;
        text-align: center;
    }
  }