body {
    font-family: "Anonymous Pro", monospace;
  }
  
  .formEdit {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90vh; 
      margin: 10vh auto; 
      padding: 5vh; 
      border: 1px solid #FFFCEF; 
    }
    
    h2 {
      text-align: center;
      color: #AEFFBF;
    }
    
    input[type="text"],
    input[type="url"] {
      width: 300px;
      padding: 10px;
      margin-bottom: 10px;
      outline: none;
      border: none;
    }
    
    label {
      margin-bottom: 5px;
      color: #FFFCEF;
    }
  
    .formFields{
      display: flex;
      flex-direction: column;
      position:relative;
      margin-bottom: 20px;
    }
  
    .buttonEdit {
      padding: 10px 20px;
      background-color: #C5A3F0;
      color: white;
      border: none;
      cursor: pointer;
    }

    .error-message{
      color: #ff7474;
      text-align: center;
    }