
.home_container{
    background-color: #2A2A2A;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .news_carrousel{
    width: 400px;
    height: 400px;
    background-color: #bbb;
    border-radius: 25px;
    margin: 40px 40px 40px 400px;
} */

.slogan{
    padding-top: 5%;
}

.tittle_1{
    font-size: 3.1em;
    margin: 0;
    color: #2A2A2A;
    -webkit-text-stroke: 1.5px #FFFCEF;
}

.tittle_2{
    font-size: 4.3em;
    margin: 0 0 50px 50px;
    color: #2A2A2A;
    -webkit-text-stroke: 5px transparent;
    background: linear-gradient(45deg, #7333FB, #F32972);
    -webkit-background-clip: text;
    background-clip: text;
}

.color_back{
    width: 30vw;
    height: 170px;
    border-radius: 30px;
    background-image: url(../../assets/images/animated_background.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.blur_effect{
    width: 30vw;
    height: 170px;
    border: 1px solid #FFFCEF;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.258);
    backdrop-filter: blur(15px);
    position: relative;
    left: 15px;
    bottom: 15px;
    margin-right: 50px;
}