
.home_container{
    background-color: #2A2A2A;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%
}

.slogan{
    padding-top: 5%;
}

.home_tittle_1{
    font-size: 3.1em;
    margin: 0;
    color: #2A2A2A;
    -webkit-text-stroke: 1.5px #FFFCEF;
}

.home_tittle_2{
    font-size: 4.3em;
    margin: 0 0 2.5vw 2.5vw;
    color: #2A2A2A;
    -webkit-text-stroke: 5px transparent;
    background: linear-gradient(45deg, #7333FB, #F32972);
    -webkit-background-clip: text;
    background-clip: text;
}

.home_color_back{
    width: 30vw;
    height: 170px;
    border-radius: 30px;
    background-image: url(../../assets/images/animated_background.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.home_blur_effect{
    width: 30vw;
    height: 170px;
    border: 1px solid #FFFCEF;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.258);
    backdrop-filter: blur(15px);
    position: relative;
    left: 2.5vw;
    bottom: 2.5vw;
    margin-right: 5%;
}
.home_socialbox{
    font-family: "Anonymous Pro", monospace;
    border: 1px solid #FFFCEF;
    border-radius: 15px;
    display: flex;
    align-items:center;
    padding: 0 1em;
    width: 50%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
@media screen and (max-width: 768px) {
    .slogan{
        margin-left: 10%;
    }
    .home_tittle_1{
        font-size: 3em;
    }
    .home_tittle_2{
        font-size: 4em;
    }
    .home_color_back,
    .home_blur_effect {
        width: 60vw; 
        height: 30vw;
        margin-left: 10%
    }
    .home_socialbox {
        margin-left: 20%; 
    }
}