.social_tittle{
    color: #AEFFBF;
    width: 12em;
    text-align: center;
    margin-left: 1.75em;
}

.instagram_box
.linkedin_box{
    display: flex;
}

.social_links{
    display: block;
    color: #FFFCEF;
    margin: 1.875em 0;
    font-size: 1.25em;
    text-decoration: none;
    align-content: center;
}

.social_logo{
    color: #FFFCEF;
    margin: 0 0.5em;
}

.socialmedia{
    background-color: pink;
}
@media only screen and (min-width: 400px) and (max-width: 1200px){
    .formulary_section {
        flex-direction: column;
    }

    .registrer_option,
    .registrer_option_changer{
        font-size: 100%;
    }

    .register input,
    .register button{
        width: 120%;
    }

    .formulary,
    .login
    .register,
    .social {
        width: 80%;
        margin: 20px auto;
    }

    .social_tittle {
        font-size: 24px;
    }

    .social_links {
        font-size: 100%;
    }
}