footer{
    background-color: #FFFCEF;
    height: 5%;
    display: grid;
    place-content: center;
    /* position:fixed; */
    left:0px;
    right:0px;
    bottom:0px;
    padding: 20px;
}

.copyrigth{
    margin: 0;
    font-size: large;
}
@media (max-width: 750px) {
    .copyrigth{
        font-size: small;
        margin-left: 15%;
    }
    
}