footer{
    background-color: #FFFCEF;
    height: 20px;
    display: grid;
    place-content: center;
    width: 100%;
    margin-bottom: 0;
    padding: 20px;
    margin-top: auto;
}

.copyrigth{
    margin: 0;
    font-size: large;
}
@media (max-width: 750px) {
    .copyrigth{
        font-size: small;
        margin-left: 15%;
    }
    
}