/* Inicio tarjeta para cambiar de formulario */

.formulary_text{
    width: 300px;
    height: 300px;
    border: 1px solid #FFFCEF;
}

.login_option{
    color: #AEFFBF;
}

.registrer_option{
    color: #AEFFBF;
}

/* Fin tarjeta para cambiar de formulario */

/* ///////////////////////////////////////////////// */

/* Inicio formularios */

.formulary_section{
    display: flex;
    border-radius: 15px;
}

.formulary{
    display: flex;
    border: 1px solid #FFFCEF;
    border-radius: 15px;
}

.login{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

.register{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

/* Final de los formularios */

/* Tarjeta social */

.social{
    border: 1px solid #FFFCEF;
    border-radius: 15px;
    margin-left: 20px;
}

.social_links{
    display: block;
}