/* Inicio tarjeta para cambiar de formulario */

.formulary_text{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    display: grid;
    place-content: center;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30px;
}

.registrer_option{
    color: #AEFFBF;
    font-size: 27px;
    text-align: center;
}

.registrer_option_changer{
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    color: #FFFCEF;
    font-size: 17px;
    text-decoration: underline;
}

.registrer_option{
    color: #AEFFBF;
}

.registrer_option_changer{
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    color: #FFFCEF;
}
/* Fin tarjeta para cambiar de formulario */

/* ///////////////////////////////////////////////// */

/* Inicio formularios */

.formulary_section{
    display: flex;
    border-radius: 15px;
    place-content: center;
    margin: 40px;
}

.formulary{
    display: flex;
    border: 2px solid #FFFCEF;
    border-radius: 15px;
}

.register,
.login {
    width: 300px;
    margin: 0 auto;
    display: grid;
    place-content: center;
}

.register input,
.login input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #FFFCEF;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: transparent;
}

.register button,
.login button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.register [type="submit"],
.login [type="submit"] {
    background-color: #C5A3F0;
    transition: 0.7s;
}

.register [type="submit"]:hover,
.login [type="submit"]:hover {
    background-color: #AEFFBF;
}

/* Final de los formularios */

/* Tarjeta social */

.social{
    border: 2px solid #FFFCEF;
    border-radius: 15px;
    margin-left: 20px;
    display: grid;
    place-content: center;
    width: 300px;
}

.social_tittle{
    color: #AEFFBF;
    width: 200px;
    text-align: center;
}

.social_links{
    display: block;
    color: #FFFCEF;
    margin-top: 30px;
    font-size: 20px;
}