  body {
    margin: 0;
    padding: 0;
  }
   
   nav {
    position:fixed; 
    top: 0;
    left: 0;
    background-color: #FFFCEF;
    height: 100%;
    width: 80px;
    z-index: 1000;
  }
  
  .list_box {
    list-style-type: none;
    padding: 0;
    position: relative;
  }
  .buttons_nav{
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 100%;
  }
  
  .navbar_link {
    color: #2A2A2A;
    font-size: 23px;
    text-decoration: none;
    display: grid;
    place-content: center;
    width: 50px;
    height: 140px;
    margin: 15px;
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    border: 2px solid #2A2A2A;
    border-radius: 10px;
    transition: 0.5s;
  }

  .cream:hover{
    box-shadow: 0px 0px 10px#2A2A2A;
  }

  .violet{
    background-color: #C5A3F0;
  }

  .violet:hover{
    box-shadow: 0px 0px 10px#2A2A2A;
  }

  /* logo done */

  .logo_container{
    height: 100%;
    display: flex;
    align-items:flex-start;
  }

  .logoImage{
    position: absolute;
    transition: transform 0.6s ease;
    width: 80px;
    left: 0;
    overflow: hidden;
    z-index: 2;
  }
  .logoText{
    position: absolute;
    transition: transform 0.6s ease;
    width: 176px;
    left: -96px;
    z-index: 1;
  }

  
  
  .logo_container:hover .image2 {
    transform: translateX(97%); 
  }